<div class="center">
  <a href="<%= url_for user_omniauth_callback_path(:angellist) %>">
    <div class="buttonborder">
      <div class="connectbutton">
        <div class="connecttext">Connect with AngelList</div>
      </div>
    </div>
  </a>
</div>

<div class="aligncenter toppad"><span class="dots">············</span> <span class="or"><em>OR</em></span> <span class="dots">············</span></div>
