/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {

  .head, .company, .box-footer {
    float: left;
  }

  .company {
    text-align: center !important;
    vertical-align: middle !important;
  }

  .company p {
    margin: 6px 0px 10px 0px !important;
  }

  .box {
    width: 97% !important;
    min-height: 50px !important;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    overflow: auto !important;
    padding: 13px 0 3px 0 !important;
  }

  .alert {
    width: 97% !important;
  }

  .box-footer button {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }

  .box .company::before {
    height: auto !important;
    border-top: none !important;
  }

}

@media (min-width: 768px) and (max-width: 979px) {
  .head {
    width: 40%;
  }

  .company, .box-footer {
    width: 30%;
  }

  .action-follow {
    min-width: 170px !important;
    padding: 6px 0 6px 0 !important;
    margin-bottom: 10px;
    margin-top: 10px !important;
    margin-left: 0 !important;
  }

  .action-ping {
    margin-top: 0 !important;
  }

  .box-footer {
    padding-bottom: 10px;
  }

}

@media (min-width: 979px) {
  .head, .company, .box-footer {
    width: 33%;
  }

  .box-footer button {
    margin-top: 0px !important;
  }

  .action-follow {
    margin-left: 7px !important;
  }

}



body {
  background-color: #F0F0F0;
  background-size: 100%;
  font-family: "lato", sans-serif;
}

.head img {
 width: 50px;
 height: 50px;
}

ul {
  margin: 0;
  list-style-type: none
}

#logo {
  display: block;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  padding: 21px 0px 10px 0px;
  opacity: 0.51;
}
.alert {
  width: 94%;
  margin: 20px auto 15px;
  box-sizing: border-box;
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 13px 0px 20px 0px;
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  background-color: white;
  background-image: -webkit-linear-gradient(white, #f8f8f8);
  background-image: -ms-linear-gradient(top, white 0%, #f8f8f8 100%);
  background-image: -moz-linear-gradient(top, white 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, white 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #f8f8f8));
  background-image: -webkit-linear-gradient(top, white 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, white 0%, #f8f8f8 100%);
  min-height: 100px;
  margin-top: 10px;
  /*box-shadow: 0 2px 5px rgba(182, 182, 182, 0.35);*/
}

.box .company::before {
  -webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
  height: 5px;
  width: 100%;
  position: relative;
  content: '';
  top: -2px;
  left: 0;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.box-active {
  border: 1px solid rgba(237, 84, 86, 0.49);
  box-shadow: 0 3px 5px rgba(182, 182, 182, 0.85);
  border-top: 1px solid rgba(237, 84, 86, 0.39);
}

.head {
  overflow: auto;
}

.head h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ed5456;
  text-align: left;
  margin-bottom: 0;
  line-height: 22px;
}
.head p {
  font-size: 13px;
  color: #999;
}

.avatar {
  padding: 0px 14px 15px 14px;
  float:left;
}

.meta {
  float: left;
  padding-top: 6px;
}

.name {
  color: #111111;
}

.company p {
  margin: 7px 15px 10px 19px;
}


.box-footer {
  text-align: center;
}
.box-footer button {
  text-align: center;
  border-radius: 1px;
  font-weight: 400;
  font-family: "lato", sans-serif;
  margin-top: 19px;
}


footer {
  font-size: 12px;
  text-align: center;
  margin: 25px 10px 15px;
}

#prompt-signup {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 90%;
  padding-bottom: 40px;
}
#prompt-signup-close {
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 20px;
}

#prompt-signup.fade.in {
  /* TODO: this is kinda of a hack */
  top: 280px;
}

.action-ping {
  min-width: 170px;
  padding: 6px;
}

.action-follow {
  padding: 6px 36px 6px 14px;
  margin-left: 7px;
  background-image: url(/assets/angel3.png), -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-repeat: no-repeat;
  background-position: right center;
  min-width: 98px;
}
.action-follow:hover {
  background-image: url(/assets/angel3.png);
  background-color: #E8E8E8;
  background-repeat: no-repeat;
  background-position: right center;
}
.action-follow:active {
  background-image: url(/assets/angel3.png);
  background-color: #E8E8E8;
  background-repeat: no-repeat;
  background-position: right center;
}
.action-follow[disabled="disabled"], .action-follow.loading {
  padding: 6px !important ;
}

.checkmark {
  font-weight: bolder;
  float: right;
}
.action-ping .checkmark {
  color: white;
}
.action-follow .checkmark {
  color: green;
}


.action-follow.loading {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
}
.action-follow[disabled="disabled"]:hover, .action-follow.loading:hover {
  padding: 6px 14px;
  background: #E8E8E8;
}

#angelconnect {
  display: block;
  max-width: 270px;
  margin: 0 auto;
}


.connectbutton {
  background-color: #285BAF;

  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #53A6D6), color-stop(1, #285BAF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #53A6D6 0%, #285BAF 100%);

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  font-size: 18px;
  color: white;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  min-width: 200px;
  padding: 4px 19px 4px 19px;
  cursor: pointer;
}

.connectbutton:hover {
  background-image: -webkit-linear-gradient(top,#43A1D3 0,#2536A3 100%);

  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #43A1D3 0%, #2536A3 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #43A1D3 0%, #2536A3 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #43A1D3 0%, #2536A3 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43A1D3), color-stop(1, #2536A3));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #43A1D3 0%, #2536A3 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #43A1D3 0%, #2536A3 100%);
}

.connecttext {
  text-align: center;
}

.buttonborder {
  display: inline-block;
  background: #e1e1e1;
  border-radius: 30px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .6);
  margin-right: 0;
  padding: 7px 8px 7px 8px;
  border: 1px solid #dddddd;
  cursor: pointer;
}

.buttonborder:active {
  display: inline-block;
  background: #D0D0D0;
  border-radius: 30px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .6);
  margin-right: 0;
  padding: 7px 8px 7px 8px;
  border: 1px solid #B8B8B8;
  cursor: pointer;
}

.center {
  text-align: center;
  padding-top: 20px;
}

.aligncenter{
  text-align: center;
  font-family: "lato", sans-serif;
  width: 220px;
  margin: 0 auto;
}

.dots {
  letter-spacing: 3px;
  color: #B8B8B8;
  font-size: 11px;
}

.or {
  font-size: 12px;
  padding: 0 3px 0 3px;
  margin-top: 2px;
}

.toppad {
  padding: 18px 0px 18px 0px;
}

.wordsize {
  font-size: 16px;
  color: #333;
}

#openclose {
  display: none;
  padding-top: 15px;
}

#openclose input {
  margin: 11px 0px 2px 0px;
  font-family: "lato", sans-serif;
}

.fullwidth {
  width: 100%;
}

.fullwidth input {
  border-radius: 3px;
}

.alignleft {
  text-align: left;
  padding-left: 8px;
  font-size: 12px;
}

.submitbutton {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #53A6D6), color-stop(1, #285BAF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #53A6D6 0%, #285BAF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #53A6D6 0%, #285BAF 100%);
}

#error_explanation {
  padding: 8px 14px 8px 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #B94A48;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 15px;
  text-align: center;
  font-family: "lato", sans-serif;
}

#error_explanation h2 {
  font-size: 16px;
  line-height: 18px;
  font-family: "lato", sans-serif;
}

input::-webkit-input-placeholder {
  color:    #707070;
  font-family: "lato", sans-serif;
  font-weight: 300;
}
input:-moz-placeholder {
  color:    #707070;
  font-family: "lato", sans-serif;
  font-weight: 300;
}
input:-ms-input-placeholder {
  color:    #707070;
  font-family: "lato", sans-serif;
  font-weight: 300;
}

#user_remember_me {
  margin: 0;
}

#checkbox_label {
  display: inline;
  vertical-align: middle;
  padding-left: 3px;
}

.sign_in {
  margin-top: 15px;
}
